@import '_tiptap.css';
@import '_swal.css';
@import '_table.css';
@import '_datepicker.css';
@import '_misc.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}

@layer components {
  .btn {
    @apply rounded-sm px-6 py-2 cursor-pointer inline-block;
    @apply text-white;
  }

  .btn.disabled,
  .btn[disabled] {
    @apply cursor-not-allowed;
  }

  .btn:focus {
    @apply outline-none;
  }

  .btn-outline {
    @apply bg-transparent border border-solid;
  }

  /* Rouge button styles */
  .btn-rouge:not(.btn-outline) {
    @apply bg-sta-rouge;
  }

  .btn-rouge.btn-outline {
    @apply border-sta-rouge;
    @apply text-sta-rouge;
  }

  .btn-rouge:hover:not(.disabled):not([disabled]) {
    @apply bg-sta-rouge-dark;
    @apply text-white;
    @apply border-transparent;
  }

  /* Orange button styles */
  .btn-orange:not(.btn-outline) {
    @apply bg-sta-orange;
  }

  .btn-orange.btn-outline {
    @apply border-sta-orange;
    @apply text-sta-orange;
  }

  .btn-orange:hover:not(.disabled):not([disabled]) {
    @apply bg-sta-orange-dark;
    @apply text-white;
    @apply border-transparent;
  }

  /* Green button styles */
  .btn-green:not(.btn-outline) {
    @apply bg-sta-green;
  }

  .btn-green.btn-outline {
    @apply border-sta-green;
    @apply text-sta-green;
  }

  .btn-green:hover:not(.disabled):not([disabled]) {
    @apply bg-sta-green-dark;
    @apply text-white;
    @apply border-transparent;
  }

  /* Gray button styles */
  .btn-gray:not(.btn-outline) {
    @apply bg-sta-gray;
  }

  .btn-gray.btn-outline {
    @apply border-sta-gray;
    @apply text-sta-gray;
  }

  .btn-gray:hover:not(.disabled):not([disabled]) {
    @apply bg-sta-gray-dark;
    @apply text-white;
    @apply border-transparent;
  }

  /* Gray-light button styles */
  .btn-gray-light:not(.btn-outline) {
    @apply bg-sta-gray-light;
  }

  .btn-gray-light.btn-outline {
    @apply border-sta-gray-light;
    @apply text-sta-gray-light;
  }

  .btn-gray-light:hover:not(.disabled):not([disabled]) {
    @apply bg-sta-gray-dark;
    @apply text-white;
    @apply border-transparent;
  }
}

@layer utilities {
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4 {
    @apply font-semibold;
  }
}
