/* Fix issue with Sweetalert2 text colour */
.swal2-container {
  /* Fix issue with Sweetalert2 text colour */
}

.swal2-container .text-white {
  color: white !important;
}

.swal2-container .swal2-select {
  @apply bg-white;
}
